{% extends "layout.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">
{% endblock %}


{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="curr_password" placeholder="Current Password" type="Password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="Password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="re_password" placeholder="Re-enter New Password" type="Password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
